@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --bg: #D3AD7F;
    --black: #13131A;
    --main-color: #800000;
    --border: .1rem solid rgba(255,255,255,.3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #FFFFFF;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 8rem;
}

.header .navbar a {
    font-size: 1.6rem;
    margin: 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: var(--black);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color); 
}

#menu-btn {
    display: none;
}

.header .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 115%;
    right: 7%;
    background: #CCCCCC;
    width: 50rem;
    height: 5rem;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    color: var(--black);
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);

}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #CCCCCC;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color-scheme: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

.home {
    min-height: 100vh;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    background: url(../imgs/wine-home.png) no-repeat; 
    background-size: contain;
    background-position: right;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
    text-shadow: .2rem .3rem .3rem #CCCCCC;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: var(--black);
    text-shadow: .2rem .2rem .2rem #CCCCCC;

}

.sobre .row {
    display: flex;
    align-items: center;
    background: #b99365;
    flex-wrap: wrap;
}

.sobre .row .image {
    flex: 1 1 45rem;
}

.sobre .row .image img {
    width: 100%;
    /*height: 100vh;*/
}

.sobre .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.sobre .row .content h3 {
    font-size: 3rem;
}

.sobre .row .content p {
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
    background: #b99365;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    font-size: 2.5rem;
    padding: 5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background: #CCCCCC;
}

.produtos .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.produtos .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
    background: #b99365;
}

.produtos .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #800000;
    margin: .3rem;
}

.produtos .box-container .box .icons a:hover {
    background: var(--main-color);
    color: #CCCCCC;
}

.produtos .box-container .box .image {
    padding: 2.5rem 0;
}

.produtos .box-container .box .image img {
    height: 25rem;
}

.produtos .box-container .box .content h3{
    font-size: 2.5rem;
}

.produtos .box-container .box .content .stars{
    padding: 1.5rem;
}

.produtos .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.produtos .box-container .box .content .price {
    font-size: 2.5rem;
}

.produtos .box-container .box .content .price span{
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background: #b99365;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
}

.review .box-container .box .quote {
    height: 9rem;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}

.contato .row {
    display: flex;
    background: #b99365;
    flex-wrap: wrap;
    gap: 1rem;
}

.contato .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contato .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contato .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
}

.contato .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contato .row form .inputBox span {
    font-size: 2rem;
    padding-left: 2rem;
}

.contato .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    text-transform: none;
    background: none;
}

.footer {
    background: var(--black);
}
.footer .redes {
    text-align: center;
    padding: 1rem 0;
}

.footer .redes a {
    height: 5rem;
    width: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    color: #CCCCCC;
    border: var(--border);
    margin: .3rem;  
    border-radius: 50%;
}

.footer .redes a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: 1.2rem ;
    color: #CCCCCC;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background-color: var(--main-color);
}

.footer .credito {
    text-align: center;
    font-size: 2rem;
    color: #CCCCCC;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credito span {
    color: var(--main-color);
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #FFFFFF;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        color: var(--black);
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .content h3 {
        color: #CCCCCC;
        text-shadow: .1rem .2rem .2rem var(--black);
    }

    .home .content p {
        color: #CCCCCC;
        text-shadow: .1rem .2rem .2rem var(--black);

    }
}
    


